.dashboard-container {
  background-color: #F4F6FB;
  width: 100%;
  margin: 15px 20px 15px 0px;
  border-radius: 10px;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 18px;
  left: 8px;
  color: #2D9CDB;
}

.search-input {
  width: 150px;
  padding: 20px 0px 20px 35px;
}

.settings {
  background-color: white;
  color: #C6C6C6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: 32px;
}

.about-user-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.about-user-container img {
  width: 64px;
}

.user-section {
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 22px 0px 22px;
}

.logout {
  padding-right: 20px;
}

.main-content {
  margin: 75px 25px 0px 25px;
}

.welcome p {
  color: #A0A0A0;
}

.information-container {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.red {background-color: #EB5757;}
.green {background-color: #6FCF97;}
.blue {background-color: #2D9CDB;}

.box {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 112px;
  padding: 15px;
  position: relative;
  color: white;
}

.box div {
  border-radius: 6px 0px;
  padding: 10px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  font-weight: bold;
}

.charts-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.ponto-seguro-label {
  color: #2D9CDB;
  font-size: 12px;
  display: flex;
  align-items: center;
}