.company-form-input {
  display: flex;
  flex-direction: column;
}

.company-form-input span {
  font-size: 14px;
  margin-bottom: 10px;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 35px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.add-btn {
  border: none;
  background: #2D9CDB;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.46);
  border-radius: 4px;
  padding: 7px 32px;
  color: white;
  font-size: 12px;
}

.cancel-btn {
  border: none;
  background: white;
  padding: 7px 32px;
  color: #FF9F9F;
  font-size: 12px;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 12px;
}

.modal-description {
  color: #C6C6C6;
  font-size: 16px;
  margin-bottom: 32px;
}

.popup-business {
  bottom: 20px !important;
}