.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 18px;
  left: 8px;
  color: #2D9CDB;
}

.search-input {
  width: 150px;
  padding: 20px 0px 20px 35px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.settings {
  background-color: white;
  color: #C6C6C6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: 32px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.about-user-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-user-container img {
  border-radius: 4px 0px 0px 4px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  width: 64px;
}

.user-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-evenly;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 22px 0px 22px;
}

.logout {
  padding-right: 20px;
}

.main-content {
  margin: 75px 25px 0px 25px;
}